body{
	padding: 30px;
  background: url('./001.jpg');
}

.menu{
  position: fixed;
  top: 15px;
	font-family: monospace;
}

.menu a:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.menu a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.content{
	width: 75%;
  margin-left: 25%;
  padding-left: 30px;
  overflow: hidden;
    margin-top: 65px;
    overflow: auto;
  height: 100px;
}

.jumbotron{
	background-color: #E2E2E2;
}

.list-group-item-heading {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
    display: inline-block;
  margin-top: 10px;
}







.well{
  font-family: monospace;
  border-radius: 2px;

}

.well strong{
  font-family: monospace;
  font-size: 15px;
  
}

.description{
  color: darkgrey;

}

.logger{
  color: blue;

}

.content .nav-tabs>li>a {
  border-radius: 2px 2px 0 0;
  text-transform: uppercase;
  font-size: 13px;
  color: grey;
}

.menu a i{
  float: left;
  margin-top:1px;
  margin-right: 10px;
  margin-left: -5px;
  font-size: 36px;
}

.menu a{
  height: 60px;
  display: inline-block;
  border-color: none; 
}




.menu a.active, .menu a.active:hover{
    background: #2b669a !important;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.menu-droite{
  right: 15px;
}

.menu-gauche{
  left: 15px;
  display: none;
}

.menu-content{
  width: 350px;
  background: rgb(0, 141, 179);
  border-radius: 2px;
  color: white;
  z-index: 10;
  visibility: hidden;
  position: fixed;
  top: 75px;
    padding-bottom: 0;
}

.menu-content input, .menu-content textarea, .menu-content select{
  background: rgb(204, 244, 255);
  border-radius: 2px;
  color: black;
  border-color: rgb(104, 104, 104);
    font-size: 13px;
}

.menu-content[data-menu='projets']{
  right: 15px;

}

.menu-content[data-menu='sprints'] i.md-close, .menu-content[data-menu='backlog'] i.md-layers{
    position: absolute;
    top: 13px;
    right: 13px;
}

.menu-content[data-menu='backlog']{
    left: 157px;

}

.menu-content[data-menu='usersstories']{
  right: 157px;

}

.menu-content[data-menu='taches']{
  left: 300px;

}

.menu-content[data-menu='sprints']{
  left: 15px;

}

.menu-content[data-menu='indicateurs']{
  left: 433px;

}

.tab-content>.tab-pane {
  padding-top: 15px;
}


.menu-content button {
    display: inline-block;
  width: 100%;
  border-radius: 1px;
  background: #393939;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  border-color: black;
}

.menu-content.gauche .nav-tabs{
  border-top-right-radius: 2px;
}

.menu-content.droite .nav-tabs{
  border-top-left-radius: 2px;
}

.menu-content .tab-content{
    padding: 0 15px;
}

.list-group {
  box-shadow: none;
}

.scrumzone {
  position: fixed;
  bottom: 15px;
  height: 100%;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 2px;
  display: none;
    background: url('./ps_neutral.png');
}

.menu-centre {
    width: 400px;
    right: 315px;
    top: 23px;
    text-align: right;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Calibri Light';
}

.scrumzone h2{
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 42px;
  margin-top: 10px;
  margin-left: 17px;
  position: absolute;
  bottom: 0;
}

.menu-content .nav-tabs {
  padding-top: 15px;
  padding-left: 15px;
  background: #2b669a;
}

.menu-content .nav-tabs>li>a {
  border-radius: 2px 2px 0 0;
  margin-right: 15px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
    font-size: 15px;
    font-family: 'Calibri Light';
}

.menu-content .nav-tabs>li.active>a {
    color: #393939;
    background: white;
}

.menu-content .btn-default:focus, .menu-content .btn-default:hover {
  border-color: #2b669a;
  text-shadow: black;
}

.menu-content .form-control:focus {
  border-color: rgb(104, 104, 104);
  box-shadow: inset 0 1px 1px rgba(104, 104, 104, 0.5),0 0 8px rgba(104, 104, 104, 0.5);
}

.indic-item {
    display: inline-block;
  height: 30px;
  background: rgb(204, 244, 255);
  width: 50%;
  border-radius: 34px;
    font-family: 'Calibri Light';
    padding-right: 10px;

    text-align: right;
    padding-top: 5px;
}

.indic-item.total {
    background: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.indic-item.done {
    left: 15px;
    position: absolute;
    color: black;
    margin-top: -5px;
}

.item{
  padding: 0;
    height: 50px;
    margin-bottom: 1px;
}

.menu-content[data-menu=backlog] .item:nth-child(odd), .menu-content[data-menu=taches] .item:nth-child(odd){
    padding: 0;
    padding-right: 5px;
}

.menu-content[data-menu=backlog] .item:nth-child(even), .menu-content[data-menu=taches] .item:nth-child(even){
    padding: 0;
    padding-left: 5px;
}

.item span{
  display: block;
  background: rgb(60, 60, 60);
  padding: 10px;
  border-radius: 1px;
  margin-bottom: 10px;
  cursor: pointer;
    font-size: 15px;
    font-family: 'Calibri Light';
}

.item:last-child{
  margin-bottom: 6px;
}